<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina do produto</title>
</head>
<body>
     <img src="{{ url_for('static', filename='imgdebaixodocabecalhio.png')}}"class="img-debaixo-do-cabecalhio">

     <div class="links">
        <a href="index.html">    
            <!-- O LINK TEM QUE LINKAR COM A PAGINA DO MATHEUS-->
            Voltar <p>|</p> Calçados, Roupas e Bolsas <p>></p> Moda Fitness <p>></p> Tops de Fitness <p>></p> Top
        </a>
        <a href="index.html">    
            <!-- O LINK TEM QUE LINKAR COM A PAGINA DO MATHEUS-->
            Vender um igual <p>|</p> Compartilhar
        </a>
    </div>
    <div class="divona">
        <div class="imgdoscantos">
            <img onmouseover="{{ url_for('static', filename='imgdoTop.png')}}" src="{{ url_for('static', filename='imgdoTop.png')}}">
            <img onmouseover="{{ url_for('static', filename='imgdoTop.png')}}" src="{{ url_for('static', filename='imgdotamanho.png')}}">
            <img onmouseover="{{ url_for('static', filename='imgdoTop.png')}}" src="{{ url_for('static', filename='mostrandotop.png')}}">
            <img onmouseover="{{ url_for('static', filename='imgdoTop.png')}}" src="{{ url_for('static', filename='poster.png')}}">
            <img onmouseover="exibirImagem('assets/img/imgdotop.png')" src="{{ url_for('static', filename='materiais.png')}}">
            <img onmouseover="exibirImagem('assets/img/imgdotop.png')" src="{{ url_for('static', filename='mostrandotop2.png')}}">
            <img onmouseover="exibirImagem('assets/img/imgdotop.png')" src="{{ url_for('static', filename='mostrandotop3.png')}}">

        </div>
         <div class="imgMuda">
            <img src="" id="exibeGrande" alt="">
         </div>

         <div class="divdolado">
            <p class="p1">Novo | +50 mil vendidos</p>
            <h4><span>MAIS VENDIDO</span> 3° em Tops de Fitness </h4> 
            <h2>Top Lupo Loba Fitness Confortável Ótima Sustentação Academia</h2>
            <h4>4.9 <img src={{ url_for('static', filename='estrelaazul.png')}}> (16144)</h4>
            <p class="oferta">OFERTA DO DIA</p>
            <p class="promocao">R$ 149 <span>99</span></p>
            <p class="p2">R$ 39 <span class="um">97</span> <span class="2">73% OFF</span></p>
            <p class="p3">FRETE GRÁTIS ACIMA DE R$ 19</p>
            <p class="p4"><span class="tres">Chegará hoje grátis </span> <span class="quatro">$20 50</span>R$ 0 por ser    primeira compra</p>
            <p class="p5">Comprando dentro das próximas <span>2 horas</span></p>
            <p class="p6">Retire a partir de amanhã em uma agência Mercado Livre <span>grátis</span> </p>
             <p class="p7"><span>Devolução grátis. </span>Você tem 30 dias a partir da data de recebimento. </p>
            <p>Cor: <span>Preto</span></p>
            <img src={{ url_for('static', filename='imgdoTop.png')}}>
            <div class="tamanhodoTop">
                <p id="tamanho">Tamanho:</p>
                <p onmouseover="tamanhoTop('Escolha')"></p>
                <div class="tamanhos">
                    <p class="tamanho1">P</p>
                    <p class="tamanho2">M</p>
                    <p class="tamanho3">G</p>
                    <p class="tamanho4">GG</p>
                </div>
                <p>Perfeito para 82%</p>
            
         </div>
         <p class="estoque">Estoque disponível</p>
         <p>Armazenado e enviado pelo Full <img src="{{ url_for('static', filename='full.png')}}"></p>

        <a href="index.html">
            <button class="botao1">COMPRAR AGORA</button>
            <button class="botao1">ADICIONAR AO CARRINHO</button>
        </a>

         
    </div>
    

   
</body>
</html>