* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebebeb;
}
header {
    background-color: #ffe600;
    padding: 10px 60px;
}

.topo {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo-localizacao {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 180px;
    height: auto;
}

.localizacao {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    top: 15px;

}
.enviar{
    color: black;
    opacity: 0.6;
}

.localizacao img {
    width: 25px;
    height: 25px;
}

.localizacao p {
    margin: 0;
    font-size: 14px;

}

input {
    width: 500px;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    top: -10px;
}

.conta {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    left: 100px;
    top: 56px;
}

.conta a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.conta img {
    width: 20px;
    height: 20px;
}

.categorias {
    display: flex;
    gap: 17px;
    margin-left: 180px;
}

.categorias a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
.capa{
    width: 100%;
    height: 100%;
    display: flex;
}

.especifica{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}



.especifica img{
    width: 130px;
    height: 130px;
    align-items: center;
}

.frete{
    background-color: white;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    bottom: 100px;
}
.frete img{
    margin-left:30px ;
    margin-top: 25px;
}
.frete h5{
    position: relative;
    top: 20px;
    margin-left: 10px;
    font-size: 15px;
    opacity: 0.8;
}
.frete p{
    text-align: center;
    opacity: 0.6;
}
.frete button{
    margin-left: 30px;
    margin-top: 50px;
    padding: 5px 20px;
    background-color: #e3edfb;
    border: none;
    color: #3483fa;
    font-weight:bold ;
    border-radius: 5px;
    font-size: 12px;
}


.mais{
    background-color: white;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    bottom: 100px;
}

.mais img{
    margin-left:30px ;
    margin-top: 25px;
}
.mais h5{
    position: relative;
    top: 20px;
    margin-left: 10px;
    font-size: 15px;
    opacity: 0.8;
}
.mais p{
    text-align: center;
    opacity: 0.6;
}
.mais button{
    margin-left: 30px;
    margin-top: 50px;
    padding: 5px 20px;
    background-color: #e3edfb;
    border: none;
    color: #3483fa;
    font-weight:bold ;
    border-radius: 5px;
    font-size: 12px;
}


.entre{
    background-color: white;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    bottom: 100px;
}

.entre img{
    margin-left:30px ;
    margin-top: 25px;
}
.entre h5{
    position: relative;
    top: 20px;
    margin-left: 10px;
    font-size: 15px;
    opacity: 0.8;
}
.entre p{
    text-align: center;
    opacity: 0.6;
}
.entre button{
    margin-left: 30px;
    margin-top: 50px;
    padding: 5px 20px;
    background-color: #e3edfb;
    border: none;
    color: #3483fa;
    font-weight:bold ;
    border-radius: 5px;
    font-size: 12px;
}


.filme {
    background-image: url("filme.png");
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    bottom: 100px;
}

.filme img{
    margin-left:30px ;
    margin-top: 25px;
}
.filme h5{
    position: relative;
    top: 20px;
    margin-left: 10px;
    font-size: 15px;
    opacity: 0.8;
}
.filme p{
    text-align: center;
    opacity: 0.6;
}
.filme button{
    margin-left: 43px;
    margin-top: 246px;
    padding: 5px 20px;
    background-color: #e3edfb;
    border: none;
    color: #3483fa;
    font-weight:bold ;
    border-radius: 5px;
    font-size: 12px;
}


.meios{
    background-color: white;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    position: relative;
    bottom: 100px;
}

.meios img{
    margin-left:30px ;
    margin-top: 25px;
}
.meios h5{
    position: relative;
    top: 20px;
    margin-left: 10px;
    font-size: 15px;
    opacity: 0.8;
}
.meios p{
    text-align: center;
    opacity: 0.6;
}
.meios button{
    margin-left: 30px;
    margin-top: 50px;
    padding: 5px 20px;
    background-color: #e3edfb;
    border: none;
    color: #3483fa;
    font-weight:bold ;
    border-radius: 5px;
    font-size: 12px;
}



.ofertadia{
    background-color: white;
    width: 350px;
    height: 560px;
    border-radius: 10px;
    position: relative;
    left: 30px;
    bottom: 60px;

}

.ofertadia h5{
    position: relative;
    top: 20px;
    margin-left: 10px;
    font-size: 20px;
    opacity: 0.8;
}

.pc{
    width: 300px;
    height: 300px ;
    margin-left: 23px;
    margin-top: 50px;
}

.notebook{
    margin-left: 23px;
}
.off{
    background-color: #00a650;
    color: white;
    font-size: 12px;
    width: 60px;
    font-weight:bold ;
    text-align: center;
    border-radius: 2px;
    margin-left: 23px;

}
.umantes{

    position: relative;
    left: 90px;
    bottom: 15px;
    opacity: 0.6;
    text-decoration: line-through;
  }
.precoum{
    margin-left: 23px;
    font-size: 25px;
    position: relative;
    bottom: 10px;
    font-weight:normal;
}
.umvendido{
    position: relative;
    left: 130px;
    bottom: 31px;
    opacity: 0.6;
    font-size: 12px;
}
.umpix{
    color: #00a650;
    position: relative;
    bottom: 25px;
    left: 23px;
    font-weight:bold;
}
.umfinal{
    position: relative;
    left: 23px;
    bottom: 25px;
}
.umgratis{
    background-color: #e5f6ed;
    color: #00a650;
    width:175px;
    text-align: center;
    position: relative;
    left: 23px;
    bottom: 20px;

}

.oferta{

    background-color: white;
    width: 810px;
    height: 560px;
    border-radius: 10px;
    position: relative;
    left: 100%;
    bottom: 97.3%;
    margin-left: 30px;

}

.camera img{

    width: 200px;
    height: 200px ;
    margin-left: 23px;
    margin-top: 50px;

}

.umcamera{
    margin-left: 23px;
}

.doisvendido{
    position: relative;
    left: 110px;
    bottom: 31px;
    opacity: 0.6;
    font-size: 12px;

}

.top img{
    width: 200px;
    height: 200px ;
    margin-left: 23px;
    margin-top: 50px;
}

.todasofertas{
    margin-left: 100px;
    font-size: 12px;
    margin-top: 2px;
    color: #3483fa;
    font-weight:bold;
}









